<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigo.project.bigo.userinfo.mapper.LevelConfigMapper">
    
    <resultMap type="LevelConfig" id="LevelConfigResult">
        <result property="id"    column="id"    />
        <result property="level"    column="level"    />
        <result property="name"    column="name"    />
        <result property="requireUser"    column="require_user"    />
        <result property="teamAsset"    column="team_asset"    />
        <result property="rebate"    column="rebate"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLevelConfigVo">
        select id, level, name, require_user, create_time, update_time from bg_level_config
    </sql>

    <select id="selectLevelConfigList" parameterType="LevelConfig" resultMap="LevelConfigResult">
        <include refid="selectLevelConfigVo"/>
        <where>  
            <if test="level != null "> and level = #{level}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="requireUser != null "> and require_user = #{requireUser}</if>
        </where>
    </select>
    
    <select id="selectLevelConfigById" parameterType="Long" resultMap="LevelConfigResult">
        <include refid="selectLevelConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLevelConfig" parameterType="LevelConfig" useGeneratedKeys="true" keyProperty="id">
        insert into bg_level_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="level != null">level,</if>
            <if test="name != null">name,</if>
            <if test="requireUser != null">require_user,</if>
            <if test="teamAsset != null">team_asset,</if>
            <if test="rebate != null">rebate,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="level != null">#{level},</if>
            <if test="name != null">#{name},</if>
            <if test="requireUser != null">#{requireUser},</if>
            <if test="teamAsset != null">#{teamAsset},</if>
            <if test="rebate != null">#{rebate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLevelConfig" parameterType="LevelConfig">
        update bg_level_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="level != null">level = #{level},</if>
            <if test="name != null">name = #{name},</if>
            <if test="requireUser != null">require_user = #{requireUser},</if>
            <if test="teamAsset != null">team_asset = #{teamAsset},</if>
            <if test="rebate != null">rebate = #{rebate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLevelConfigById" parameterType="Long">
        delete from bg_level_config where id = #{id}
    </delete>

    <delete id="deleteLevelConfigByIds" parameterType="String">
        delete from bg_level_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>