<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigo.project.bigo.userinfo.mapper.UserGoogleSecretMapper">
    
    <resultMap type="UserGoogleSecret" id="UserGoogleSecretResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="googleSecretKey"    column="google_secret_key"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectUserGoogleSecretVo">
        select id, uid, google_secret_key, create_time from bg_user_google_secret
    </sql>

    <select id="selectUserGoogleSecretList" parameterType="UserGoogleSecret" resultMap="UserGoogleSecretResult">
        <include refid="selectUserGoogleSecretVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="googleSecretKey != null  and googleSecretKey != ''"> and google_secret_key = #{googleSecretKey}</if>
        </where>
    </select>
    
    <select id="selectUserGoogleSecretById" parameterType="Long" resultMap="UserGoogleSecretResult">
        <include refid="selectUserGoogleSecretVo"/>
        where id = #{id}
    </select>

    <select id="selectUserGoogleSecretByUid" parameterType="Long" resultMap="UserGoogleSecretResult">
        <include refid="selectUserGoogleSecretVo"/>
        where uid = #{uid}
    </select>
        
    <insert id="insertUserGoogleSecret" parameterType="UserGoogleSecret" useGeneratedKeys="true" keyProperty="id">
        insert into bg_user_google_secret
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="googleSecretKey != null">google_secret_key,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="googleSecretKey != null">#{googleSecretKey},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateUserGoogleSecret" parameterType="UserGoogleSecret">
        update bg_user_google_secret
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="googleSecretKey != null">google_secret_key = #{googleSecretKey},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserGoogleSecretById" parameterType="Long">
        delete from bg_user_google_secret where id = #{id}
    </delete>

    <delete id="deleteUserGoogleSecretByIds" parameterType="String">
        delete from bg_user_google_secret where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>